# Ignore object files

*.a
*.out
*.a
*.so

# Ignore temporary files

*.tmp
*.temp
_*

# Ignore build directories

build/
bin/
test/

# Ignore temporary directories

temp/
tmp/

# Ignore Lex & Yacc files
*.y.c
*.y.h
*.yy.c
*.yy.h
*.tab.c
*.tab.h
